{% extends 'base.html' %}
{% load l10n %}
{% block title %} Incapacidades | Editar Movimiento {% endblock %}
{% block content %}
<section>
  <div class="px-10">
    <h2 class="text-2xl font-bold dark:text-white">Agregar Incapacidad</h2>
  </div>
</section>
<form method="post">
{% csrf_token %}
<section class="mt-4">
  <h2 class="text-lg font-bold dark:text-white">Datos empleado</h2>
  <hr class="divide-y divide-gray-100 mb-4" />
  <div class="flex flex-wrap gap-4">
    {%if error_empleado %}
    <div class="flex-1">
      <label
        for="docto-empleado"
        class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">Numero de documento</label>
      <input
        class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
        type="text"
        id="docto-empleado"
        name="docto_empleado"
        value="{{ docto_empleado }}"
        required
      />
      <span class="font-medium">Error!</span> {{ error_empleado }}
    </div>
    {% else %}
    <div class="flex-1">
      <label
          for="docto-empleado"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero
        documento</label>
      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        type="text"
        id="docto-empleado"
        name="docto_empleado"
        value="{{ docto_empleado }}"
        required
      />
    </div>
    {% endif %}
    <div class="flex-1">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre
        completo</label>
      <input
        class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        type="text"
        name="nombre"
        value="{{ nombre }}"
        required
      />
    </div>
    <div class="flex-1">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Genero</label>
      <select
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        id="genero"
        name="genero"
        required
      >
        <option selected disabled>Selecciona un genero...</option>
        <option value="0" {% if genero == 0 %}seleted{% endif %}>Masculino</option>
        <option value="1" {% if genero == 1 %}seleted{% endif %}>Femenino</option>
      </select>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 mt-4">
    <div class="flex-1">
      <label
        for="fecha-nacimiento"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha nacimiento</label>
      <div class="relative max-w-md">
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          type="date"
          id="fecha-nacimiento"
          name="fecha_nacimiento"
          value="{{ fecha_nacimiento }}"
          @input="updateResultDate"
          placeholder="Selecciona una fecha de inicio..."
          required
        />
      </div>
    </div>
    <div class="flex-1">
      <label
        for="fecha-ingreso"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha ingreso</label>
      <div class="relative max-w-md">
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          type="date"
          id="fecha-ingreso"
          name="fecha_ingreso"
          value="{{ fecha_ingreso }}"
          @input="updateResultDate"
          placeholder="Selecciona una fecha de ingreso..."
          required
        />
      </div>
    </div>
    <div class="flex-1">
      <label for="estado" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estado</label>
      <select
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        id="estado"
        name="estado"
        value="{{ estado }}"
        required
      >
        <option selected disabled>Selecciona un estado...</option>
        <option value="0">Activo</option>
        <option value="1">Retirado</option>
      </select>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 mt-4">
    <div class="flex-1">
      <label
        for="eps"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">EPS</label>
      <select
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        id="eps"
        name="eps_id"
        required
      >
        <option selected disabled>Selecciona una EPS...</option>
        {% for eps in epss %}
        <option value="{{ eps.id }}">{{ eps.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="flex-1">
      <label
        for="afp"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fondo de Pension</label>
      <select
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        id="afp"
        name="afp_id"
        required
      >
        <option selected disabled>Selecciona un fondo de pensiones...</option>
        {% for afp in afps %}
        <option value="{{ afp.id }}">{{ afp.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="flex-1">
      <label for="arl-nit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">NIT ARL</label>
      <input
        id="arl-nit"
        name="arl_nit"
        value="890903790"
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        readonly
      />
    </div>
  </div>
  <div class="flex gap-4 mt-4">
    <div class="flex-1">
      <label
        for="arl-nombre"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre ARL</label>
      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        type="text"
        id="arl-nombre"
        name="arl_nombre"
        value="Compania Suramericana de Riesgos Profesionales"
        readonly
      />
    </div>
    <div class="flex-1"></div>
    <div class="flex-1"></div>
  </div>
</section>
<section
  class="my-4"
  x-data="{
    fechaInicial: '',
    fechaInicialFmt: '',
    fechaFinal: '',
    fechaFinalFmt: '',
    numeroDias: 1,
    prorroga: {% if prorroga %}true{% else %}false{% endif %},
    pagadoEntidad: 0,
    fmtPagadoEntidad: 0,
    llevadaGasto: 0,
    pendienteEntidad: 0,
    fmtPendienteEntidad: 0,
    mayorValor: 0,
    fmtMayorValor: 0,
    generaPago: false,
    empresaTotalPagado: 0,
    fmtEmpresaTotalPagado: 0,
    entidadCuentaXCobrar: 0,
    fmtEntidadCuentaXCobrar: 0,
    fechasDistribucion: [],

    formatDate(date) {
      const [day, month, year] = date.split('/');
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;
    },

    formatFechasDistribucion() {
      return this.fechasDistribucion.map(fecha => ({
        ...fecha,
        fechaInicio: this.formatDate(fecha.fechaInicio),
        fechaFin: this.formatDate(fecha.fechaFin)
      }));
    },

    fmtCurrency(value) {
      const locale = 'es-CO';
      return new Intl.NumberFormat(locale, {
        style: 'currency',
        currency: 'COP',
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      }).format(value);
    },

    calcularValoresXPagar(index) {
      const [empresaDias, empresaValor, entidadDias, entidadValor] = this.calcularPago(index);
      this.fechasDistribucion[index].empresaDias = empresaDias;
      this.fechasDistribucion[index].empresaValor = empresaValor;
      this.fechasDistribucion[index].entidadDias = entidadDias;
      this.fechasDistribucion[index].entidadValor = entidadValor;
    },

    updateResultDate() {
      const diaMicroSeg = 86_400_000;
      const valorFechaInicial = new Date(this.fechaInicial);
      const valorFechaInicialFmt = new Date(this.fechaInicial);
      valorFechaInicialFmt.setTime(valorFechaInicial.getTime() + diaMicroSeg);
      const valorNumeroDias = parseInt(this.numeroDias);
      const valorFechaFinal = new Date(valorFechaInicial.getTime() + valorNumeroDias * 86400000); // 86400000 milisegundos en un día

      const fechaInicialDay = String(valorFechaInicialFmt.getDate()).padStart(2, '0');
      const fechaInicialMonth = String(valorFechaInicialFmt.getMonth() + 1).padStart(2, '0');
      const fechaInicialYear = valorFechaInicialFmt.getFullYear();

      const fechaFinalDay = String(valorFechaFinal.getDate()).padStart(2, '0');
      const fechaFinalMonth = String(valorFechaFinal.getMonth() + 1).padStart(2, '0');
      const fechaFinalYear = valorFechaFinal.getFullYear();

      this.fechaInicialFmt = `${fechaInicialYear}-${fechaInicialMonth}-${fechaInicialDay}`;
      this.fechaFinalFmt = `${fechaFinalYear}-${fechaFinalMonth}-${fechaFinalDay}`;
      this.fechaFinal = `${fechaFinalDay}/${fechaFinalMonth}/${fechaFinalYear}`;

      const distribucion = crearSegmentosQuincenales(valorFechaInicial, valorNumeroDias, this.fechaDistribucion);
      const fechasDistribucionOld = this.fechasDistribucion;
      this.fechasDistribucion = distribucion;
    },

    asignarEmpresaDiasCero() {
      this.prorroga = !this.prorroga;

      if (this.fechasDistribucion.length === 0) return 0;

      let index = 0;
      [ this.fechasDistribucion[index].empresaDias,
        this.fechasDistribucion[index].empresaValor,
        this.fechasDistribucion[index].entidadDias,
        this.fechasDistribucion[index].entidadValor,
      ] = this.calcularPago(index);

      if (this.fechasDistribucion.length > 1) {
        index = 1;

        [ this.fechasDistribucion[index].empresaDias,
          this.fechasDistribucion[index].empresaValor,
          this.fechasDistribucion[index].entidadDias,
          this.fechasDistribucion[index].entidadValor,
        ] = this.calcularPago(index);
      }
    },

    handleKeydown(e) {
      const allowedKey = ['Backspace', 'Delete', 'Tab', 'ArrowLeft', 'ArrowRight'];
      const anyAllowedKey = allowedKey.indexOf(e.key) === -1;

      if (!/[0-9]/.test(e.key) && anyAllowedKey) e.preventDefault();
    },

    recalcularValorEmpresa(e, index) {
      const empresaDiasMax = 2;
      let empresaDias = e.target.value === '' ? 0 : +e.target.value;
      const totalDias = this.fechasDistribucion[index].totalDias;
      const salario = this.fechasDistribucion[index].salario;

      if (empresaDias <= 0) {
        empresaDias = 0;
      }

      if (empresaDias > empresaDiasMax) {
        empresaDias = empresaDiasMax;
      }

      const salarioDiario = salario / 30;
      const entidadDias = totalDias - empresaDias;

      let entidadValor = entidadDias * salarioDiario;
      entidadValor = +entidadValor.toFixed(2);

      let empresaValor = empresaDias * salarioDiario;
      empresaValor = +empresaValor.toFixed(2);

      this.fechasDistribucion[index].empresaValor = empresaValor;
      this.fechasDistribucion[index].empresaDias = empresaDias;
      this.fechasDistribucion[index].entidadDias = entidadDias;
      this.fechasDistribucion[index].entidadValor = entidadValor;
    },

    calcularPago(index) {
      const empresaTotalDias = 2;
      const prorroga = this.prorroga;
      const salarioDiario = this.fechasDistribucion[index].salario / 30;
      const totalDias = this.fechasDistribucion[index].totalDias;
      let empresaDias = totalDias < empresaTotalDias ? totalDias : empresaTotalDias;
      empresaDias = (index === 0 && prorroga) ? 0 : empresaDias;

      if (index === 1) {
        const totalDiasAntSeg = this.fechasDistribucion[0].totalDias;
        const empresaDiasAntSeg = this.fechasDistribucion[0].empresaDias;

        if (totalDiasAntSeg <= empresaTotalDias) {
          empresaDias = empresaTotalDias - totalDiasAntSeg;
          empresaDias = prorroga ? 0 : empresaDias;
        } else {
          empresaDias = 0;
        }
      }

      if (index > 1) empresaDias = 0;

      const empresaValor = (empresaDias * salarioDiario).toFixed(2);
      const entidadDias = (totalDias > empresaDias) ? totalDias - empresaDias : 0;
      const entidadValor = (entidadDias * salarioDiario).toFixed(2);
      return [
        empresaDias,
        empresaValor,
        entidadDias,
        entidadValor,
      ];
    },

    calcularTotalesXPagar() {
      this.fmtEmpresaTotalPagado = this.fmtCurrency(this.empresaTotalPagado);
      this.fmtEntidadCuentaXCobrar = this.fmtCurrency(this.entidadCuentaXCobrar);
      this.fmtPagadoEntidad = this.fmtCurrency(this.pagadoEntidad);
      this.fmtPendienteEntidad = this.fmtCurrency(this.pendienteEntidad);
      this.fmtMayorValor = this.fmtCurrency(this.mayorValor);

      return this.$watch('fechasDistribucion', (newValue, oldValue) => {
        const fechas = JSON.parse(JSON.stringify(newValue, null, 2));
        let empresaTotalPagado = 0;
        let entidadTotalCuentaXCobrar = 0;

        for (const f of fechas) {
          empresaTotalPagado += +f.empresaValor;
          entidadTotalCuentaXCobrar += +f.entidadValor;
        }

        this.empresaTotalPagado = +parseFloat(empresaTotalPagado).toFixed(2);
        this.fmtEmpresaTotalPagado = this.fmtCurrency(this.empresaTotalPagado);
        this.entidadCuentaXCobrar = +parseFloat(entidadTotalCuentaXCobrar).toFixed(2);
        this.fmtEntidadCuentaXCobrar = this.fmtCurrency(this.entidadCuentaXCobrar);
        this.calcularValoresFinales();
      });
    },

    calcularValoresFinales() {
      const entidadCuentaXCobrar = +this.entidadCuentaXCobrar;
      const pendienteEntidad = entidadCuentaXCobrar - this.pagadoEntidad;

      const llevadaGasto = +this.pagadoEntidad === 0 ? 0 :
        +this.pagadoEntidad - (+this.entidadCuentaXCobrar + +this.mayorValor);

      const mayorValor = Math.abs(pendienteEntidad);

      this.fmtPagadoEntidad = this.fmtCurrency(this.pagadoEntidad);
      this.pendienteEntidad = +parseFloat(pendienteEntidad).toFixed(2);
      this.fmtPendienteEntidad = this.fmtCurrency(this.pendienteEntidad);
      this.mayorValor = +parseFloat(mayorValor).toFixed(2);
      this.fmtMayorValor = this.fmtCurrency(this.mayorValor);
      this.llevadaGasto = +parseFloat(llevadaGasto).toFixed(2);
    },
  }"
  x-init="calcularTotalesXPagar()">
  <h2 class="text-lg font-bold dark:text-white">Datos Generales de Incapacidad</h2>
  <hr class="divide-y divide-gray-100 mb-4" />
  <div class="flex gap-4 mb-4">
    <div class="flex-1">
      <label
        for="serie"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Serie</label>
      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        type="text"
        id="serie"
        name="serie"
        value="{{ serie }}"
        maxlength="32"
        required
      >
    </div>
    <div class="flex-1">
      <label
        for="fecha-recepcion"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de recepcion</label>
      <div class="relative max-w-md">
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          id="fecha-recepcion"
          name="fecha_recepcion"
          value="{{ fecha_recepcion|date:'Y-m-d' }}"
          type="date"
          placeholder="Selecciona una fecha de recepcion..."
          required
        >
      </div>
    </div>
    <div class="flex-1">
      <label for="movimiento-centro-costos-id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Centro de
        Costos</label>
      <select
        id="movimiento-centro-costos-id"
        name="movimiento_centro_costos_id"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected disabled>Selecciona un centro de costos...</option>
        {% for ccosto in ccostos %}
        <option value="{{ ccosto.id }}">{{ ccosto.nombre }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="flex gap-4 mb-4">
    <div class="flex-1">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Clase de incapacidad</label>
      <select
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        id="incapacidad"
        name="clase_incapacidad_id"
        required
      >
        <option selected disabled>Selecciona la clase de incapacidad...</option>
        {% for incapacidad in incapacidades %}
        <option value="{{ incapacidad.id }}">{{ incapacidad.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="flex-1">
      <label
        for="cod-incapacidad"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero incapacidad</label>
      <div class="relative">
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          id="cod-incapacidad"
          name="cod_incapacidad"
          type="text"
          value=""
          placeholder="Digita el numero de la incapacidad..."
          required
        />
      </div>
    </div>
    <div class="flex-1">
      <label
        for="estado-incapacidad"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estado de Incapacidad</label>
      <select
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        id="estado-incapacidad"
        name="estado_incapacidad_id"
        required
      >
        <option selected disabled>Selecciona un estado de incapacidad...</option>
        {% for estado_incapacidad in estados_incapacidades %}
        <option value="{{ estado_incapacidad.id }}">{{ estado_incapacidad.nombre }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="flex gap-4 mb-4">
    <div class="flex-1">
      <label
        for="concepto-id"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Concepto</label>
      <select
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        id="concepto-id"
 e      name="concepto_id"
        required
      >
        <option selected disabled>Selecciona el concepto...</option>
        {% for concepto in conceptos %}
        <option value="{{ concepto.id }}">{{ concepto.codigo }} - {{ concepto.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="flex-1">
      <label
        for="diagnostico"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Codigo diagnostico</label>
      <select
        id="diagnostico"
        name="diagnostico_id"
        value="{{ diagnostico_id }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected disabled>Selecciona el diagnostico...</option>
        {% for diagnostico in diagnosticos %}
        <option value="{{ diagnostico.id }}">{{ diagnostico.codigo }} - {{ diagnostico.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="flex flex-1 justify-center pt-10">
      <input
        id="genera-pago"
        name="genera_pago"
        x-model="generaPago"
        type="checkbox"
        {% if movimiento.genera_pago %}checked{% endif %}
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label
        for="genera-pago" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Genera
        pago?</label>
    </div>
  </div>
    <div class="mb-5">
      <label
        for="observaciones"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observaciones</label>
      <textarea
        id="observaciones"
        name="observaciones"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Escribe tus observaciones en este campo...">{{ movimiento.observaciones }}</textarea>
    </div>
    <h2 class="text-lg font-bold dark:text-white">Fecha de Distribucion</h2>
    <hr class="divide-y divide-gray-100 mb-4" />
    <div class="flex gap-4 mb-4">
      <div class="flex-1">
        <label
          for="fecha-inicio"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Inicial</label>
        <div class="relative max-w-md">
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            id="fecha-inicio"
            value="{{ fecha_inicio }}"
            type="date"
            x-model="fechaInicial"
            @change="updateResultDate"
            placeholder="Selecciona una fecha de inicio..."
          />
          <input
            type="hidden"
            name="fecha_inicio"
            x-model="fechaInicialFmt"
          />
        </div>
      </div>
      <div class="flex-1">
        <label
          for="dias"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero de dias</label>
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          id="dias"
          name="dias"
          value="{{ dias }}"
          type="number"
          x-model="numeroDias"
          @input="updateResultDate"
          min="1"
          required
        />
      </div>
      <div class="flex-1">
        <label
          for="fecha-fin"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Final</label>
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          id="fecha-fin"
          name="fecha_fin"
          value="{{ fecha_fin }}"
          type="text"
          x-model="fechaFinal"
          readonly
        />
        <input
          type="hidden"
          name="fecha_fin"
          x-model="fechaFinalFmt"
        />
      </div>
      <div class="flex flex-1 pt-10 justify-center">
        <input
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          id="prorroga"
          name="prorroga"
          type="checkbox"
          x-model="prorroga"
          {% if movimiento.prorroga %}checked{% endif %}
          @click="asignarEmpresaDiasCero"
        />
        <label
          for="prorroga"
          class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Es
          prorroga?</label>
      </div>
    </div>
    <div class="mb-5 relative overflow-x-auto shadow-md sm:rounded-lg">
      <input
        type="hidden"
        name="fechas_distribucion"
        x-effect="$el.value = JSON.stringify(formatFechasDistribucion())"
      />
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                  <th scope="col" class="px-6 py-3">#</th>
                  <th scope="col" class="px-6 py-3 text-center">Fecha Inicial</th>
                  <th scope="col" class="px-6 py-3 text-center">Fecha Final</th>
                  <th scope="col" class="px-6 py-3 text-center">Calendario</th>
                  <th scope="col" class="px-6 py-3 text-center">Salario</th>
                  <th scope="col" class="px-6 py-3 text-center">Total Dias</th>
                  <th scope="col" class="px-6 py-3 text-center">Dias Empresa</th>
                  <th scope="col" class="px-6 py-3 text-center">Valor Empresa</th>
                  <th scope="col" class="px-3 py-3 text-center">Dias Entidad</th>
                  <th scope="col" class="px-6 py-3 text-center">Valor Entidad</th>
              </tr>
          </thead>
          <tbody>
            <template x-for="(seg, idx) in fechasDistribucion">
            <tr :key="idx" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" x-text="idx+1"></th>
              <td class="px-6 py-4" x-text="seg.fechaInicio"></td>
              <td class="px-6 py-4" x-text="seg.fechaFin"></td>
              <td class="px-6 py-4">
                <input
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  x-model="seg.calendario"
                  @input="calcularValoresXPagar(idx)"
                />
              </td>
              <td class="px-6 py-4">
                <input
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 text-right"
                  x-model="seg.salario"
                  @input="calcularValoresXPagar(idx)"
                  @keydown="handleKeydown($event)"
                />
              </td>
              <td class="px-6 py-4 text-center" x-text="seg.totalDias"></td>
              <template x-if="idx === 0 && !prorroga">
                <td class="px-6 py-4 text-center">
                  <input
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-10 p-2.5 mx-auto dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 text-right"
                    type="text"
                    min="0"
                    x-model.number="seg.empresaDias"
                    @input="recalcularValorEmpresa($event, idx)"
                    @keydown="handleKeydown($event)"
                  />
                </td>
              </template>
              <template x-if="idx === 0 && prorroga">
                <td class="px-6 py-4 text-center" x-text="seg.empresaDias"></td>
              </template>
              <template x-if="idx !== 0">
                <td class="px-6 py-4 text-center">
                  <input
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-10 p-2.5 mx-auto dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 text-right"
                    type="text"
                    min="0"
                    x-model.number="seg.empresaDias"
                    @input="recalcularValorEmpresa($event, idx)"
                    @keydown="handleKeydown($event)"
                  />
                </td>
              </template>
              <template x-if="seg.empresaDias !== 0">
              <td class="px-1 py-4 text-right">
                <input
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-24 p-2.5 mx-auto dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 text-right"
                  x-model="seg.empresaValor"
                  @keydown="handleKeydown($event)"
                />
              </td>
              </template>
              <template x-if="seg.empresaDias === 0">
                <td class="px-6 py-4 text-right" x-text="seg.empresaValor"></td>
              </template>
              <td class="px-6 py-4 text-center" x-text="seg.entidadDias"></td>
              <td class="px-3 py-4 text-right">
                <input
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 text-right"
                  x-model="seg.entidadValor"
                  @keydown="handleKeydown($event)"
                />
              </td>
            </tr>
            </template>
          </tbody>
      </table>
    </div>
    <hr class="divide-y divide-gray-100 mb-1" />
    <div class="font-medium">
      <div class="mx-right">
        <div class="w-1/2 flex justify-between gap-4">
          <div>Total Valor Empresa</div>
          <div>
            <span x-text="fmtEmpresaTotalPagado"></span>
            <input
              type="hidden"
              name="valor_cia"
              x-model="empresaTotalPagado"
              x-effect="$el.value = empresaTotalPagado"
            />
          </div>
        </div>
        <div class="w-1/2 flex justify-between gap-4">
          <div>Total Cuenta x Cobrar Entidad</div>
          <div>
            <span x-text="fmtEntidadCuentaXCobrar"></span>
            <input
              type="hidden"
              name="cuenta_cobrar"
              x-model="entidadCuentaXCobrar"
              x-effect="$el.value = entidadCuentaXCobrar"
            />
          </div>
        </div>
        <div class="w-1/2 flex justify-between gap-4">
          <div>Total Pagado x Entidad</div>
          <div>
            <span x-text="fmtPagadoEntidad"></span>
            <input
              type="hidden"
              name="pagado_entidad"
              x-model="pagadoEntidad"
              x-effect="$el.value = pagadoEntidad"
            />
          </div>
        </div>
        <div class="w-1/2 flex justify-between gap-4">
          <div>Total Pendiente Entidad</div>
          <div>
            <span x-text="fmtPendienteEntidad"></span>
            <input
              type="hidden"
              name="pendiente_entidad"
              x-model="pendienteEntidad"
              x-effect="$el.value = pendienteEntidad"
            />
          </div>
        </div>
        <div class="w-1/2 flex justify-between gap-4">
          <div>Mayor Valor</div>
          <div>
            <span x-text="fmtMayorValor"></span>
            <input
              type="hidden"
              name="mayor_valor"
              x-model="mayorValor"
              x-effect="$el.value = mayorValor"
            />
          </div>
        </div>
      </div>
    </div>
    <hr class="divide-y divide-gray-100 mt-1 mb-4" />
    <div class="text-right">
      <button
        class="text-white end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        type="submit"
      >Guardar incapacidad</button>
    </div>
</section>
</form>
<script>
function calcularValorIncapacidad() {
  const valorSalario = +this.salario || 0;
  const valorSalarioDiario = valorSalario / 30;
  const valorNumeroDias = +this.numeroDias || 0;
  const fechaInicial = new Date(this.fechaInicial);
  const valoresFechasDistribucion = crearSegmentosQuincenales(fechaInicial, valorNumeroDias);
  const diasPagadoXEmpresa = 2;
}

function crearSegmentosQuincenales(fechaInicial, valorNumeroDias, fechasDistribucionPrev) {
  const diasXSegmento = 15;
  const microSegDia = 86_400_000;
  const segmentos = [];
  let fechaActual = new Date(fechaInicial.getTime() + microSegDia);
  const fechaCorte = new Date(fechaInicial.getFullYear(), fechaInicial.getMonth() + 1, 15);
  const fechaFin = new Date(fechaInicial.getTime() + valorNumeroDias * microSegDia); // 86400000 milisegundos en un día
  let i = 0;

  while (fechaActual <= fechaFin) {
    const fechaInicialSegmento = new Date(fechaActual);
    const fechaFinalSegmento = new Date(fechaActual);
    const diaSegmento = fechaFinalSegmento.getDate();
    const diaFinalMes = new Date(fechaFinalSegmento.getFullYear(), fechaFinalSegmento.getMonth() + 1, 0);
    const diasFaltantesFinMes = diaFinalMes.getDate() - diaSegmento;

    if (diaSegmento <= diasXSegmento) {
      fechaFinalSegmento.setDate(fechaCorte.getDate());
    } else {
      fechaFinalSegmento.setDate(fechaFinalSegmento.getDate() + diasFaltantesFinMes);
    } 

    if (fechaFinalSegmento > fechaFin) {
      fechaFinalSegmento.setDate(fechaFin.getDate());
    }

    const numeroDias = Math.ceil((fechaFinalSegmento - fechaInicialSegmento) / (1000 * 60 * 60 * 24));
    
    const fecha = {
      fechaInicio: fechaInicialSegmento.toLocaleDateString('es-CO'),
      fechaFin: fechaFinalSegmento.toLocaleDateString('es-CO'),
      salario: 0,
      totalDias: numeroDias + 1,
      empresaDias: 0,
      empresaValor: 0,
      entidadDias: 0,
      entidadValor: 0,
    };

    segmentos.push(fecha);

    fechaActual = fechaFinalSegmento.getTime() + microSegDia;
  }
  return segmentos;
}

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
{% endblock %}
