{% extends 'base.html' %}
{% block title %} Incapacidades | Agregar Movimiento {% endblock %}
{% block content %}
<section>
  <div class="px-10">
    <h2 class="text-2xl font-bold dark:text-white">Agregar Incapacidad</h2>
  </div>
</section>
<form method="post">
{% csrf_token %}
<section class="mt-4">
  <h2 class="text-lg font-bold dark:text-white">Datos empleado</h2>
  <hr class="divide-y divide-gray-100 mb-4" />
  <div class="flex flex-wrap gap-4">
    {%if error_empleado %}
    <div class="flex-1">
      <label
        for="docto-empleado"
        class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">Numero de documento</label>
      <input
        type="text"
        id="docto-empleado"
        name="docto_empleado"
        value="{{ docto_empleado }}"
        aria-required="true"
        title="Por favor, completa este campo"
        class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
      />
      <span class="font-medium">Error!</span> {{ error_empleado }}
    </div>
    {% else %}
    <div class="flex-1">
      <label
          for="docto-empleado"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero
        documento</label>
      <input
        type="text"
        id="docto-empleado"
        name="docto_empleado"
        value="{{ docto_empleado}}"
        aria-required="true"
        title="Por favor, completa este campo"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      />
    </div>
    {% endif %}
    <div class="flex-1">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre
        completo</label>
      <input
        type="text"
        name="nombre"
        value="{{ nombre }}"
        aria-required="true"
        title="Por favor, completa este campo"
        class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      />
    </div>
    <div class="flex-1">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Genero</label>
      <select
        id="genero"
        name="genero"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      >
        <option selected>Selecciona un genero...</option>
        <option value="0">Masculino</option>
        <option value="1">Femenino</option>
      </select>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 mt-4">
    <div class="flex-1">
      <label
        for="fecha-nacimiento"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha nacimiento</label>
      <div class="relative max-w-md">
        <input
          type="date"
          id="fecha-nacimiento"
          name="fecha_nacimiento"
          value="{{ fecha_nacimiento }}"
          aria-required="true"
          title="Por favor, completa este campo"
          @input="updateResultDate"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Selecciona una fecha de inicio..."
          required
        />
      </div>
    </div>
    <div class="flex-1">
      <label
        for="fecha-ingreso"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha ingreso</label>
      <div class="relative max-w-md">
        <input
          type="date"
          id="fecha-ingreso"
          name="fecha_ingreso"
          name="{{ fecha_ingreso }}"
          aria-required="true"
          title="Por favor, completa este campo"
          @input="updateResultDate"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Selecciona una fecha de ingreso..."
          required
        />
      </div>
    </div>
    <div class="flex-1">
      <label for="estado" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estado</label>
      <select
        id="estado"
        name="estado"
        value="{{ estado }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      >
        <option selected>Selecciona un estado...</option>
        <option value="0">Activo</option>
        <option value="1">Retirado</option>
      </select>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 mt-4">
    <div class="flex-1">
      <label
        for="eps"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">EPS</label>
      <select
        id="eps"
        name="eps"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      >
        <option selected>Selecciona una EPS...</option>
        {% for eps in epss %}
        <option value="{{ eps.id }}">{{ eps.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="flex-1">
      <label
        for="afp"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fondo de Pension</label>
      <select
        id="afp"
        name="afp"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      >
        <option selected>Selecciona un fondo de pensiones...</option>
        {% for afp in afps %}
        <option value="{{ afp.id }}">{{ afp.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="flex-1">
      <label for="arl-nit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">NIT ARL</label>
      <input
        id="arl-nit"
        name="arl_nit"
        value="890903790"
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        readonly
      />
    </div>
  </div>
  <div class="flex gap-4 mt-4">
    <div class="flex-1">
      <label
        for="arl-nombre"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre ARL</label>
      <input
        type="text"
        id="arl-nombre"
        name="arl_nombre"
        value="Compania Suramericana de Riesgos Profesionales"
        aria-required="true"
        title="Por favor, completa este campo"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        readonly
      />
    </div>
    <div class="flex-1"></div>
    <div class="flex-1"></div>
  </div>
</section>
<section
  class="my-4"
  x-data="{
    fechaInicial: '',
    fechaFinal: '',
    numeroDias: 1,
    prorroga: false,
    salario: 0,
    valorPagadoEmpresa: 0,
    cuentaXCobrar: 0,
    pagadoXEntidad: 0,
    pedienteEntidad: 0,
    generaPago: false,
    empresaTotalPagado: 0,
    entidadCuentaXCrobrar: 0,
    fechasDistribucion: [],
    calcularValoresXPagar(index) {
      const { empresaDias, empresaValor, entidadDias, entidadValor } = this.calcularPago(index);
      this.fechasDistribucion[index].empresaDias = empresaDias;
      this.fechasDistribucion[index].empresaValor = empresaValor;
      this.fechasDistribucion[index].entidadDias = entidadDias;
      this.fechasDistribucion[index].entidadValor = entidadValor;
      this.calcularTotalesXPagar(this.fechasDistribucion);
    },
    calcularPrimerPago() {
      index = 0;
      const { empresaDias, empresaValor, entidadDias, entidadValor } =
        this.calcularPago(index);
      this.fechasDistribucion[index].empresaDias = empresaDias;
      this.fechasDistribucion[index].empresaValor = empresaValor;
      this.fechasDistribucion[index].entidadDias = entidadDias;
      this.fechasDistribucion[index].entidadValor = entidadValor;
      this.calcularTotalesXPagar(this.fechasDistribucion);
    },
    calcularPago(index) {
      const prorroga = this.prorroga;
      const salarioDiario = this.fechasDistribucion[index].salario / 30;
      const totalDias = this.fechasDistribucion[index].totalDias;
      const empresaTotalDias = 2;
      let empresaDias = totalDias < empresaTotalDias ? totalDias : empresaTotalDias;
      empresaDias = prorroga ? 0 : empresaTotalDias;
      empresaDias = index > 0 ? 0 : empresaDias; 
      const empresaValor = (empresaDias * salarioDiario).toFixed(2);
      const entidadDias = (totalDias > empresaDias) ? totalDias - empresaDias : 0;
      const entidadValor = (entidadDias * salarioDiario).toFixed(2);
      return {
        empresaDias,
        empresaValor,
        entidadDias,
        entidadValor,
      }
    },
    calcularTotalesXPagar(fechasDistribucion) {
      console.log('calcularTotalesXPagar');
      const fechas = this.fechasDistribucion;
      let empresaTotalPago = 0;
      let entidadCuentaXPagar = 0;

      for (const fecha in fechas) {
        console.log('fecha', fecha);
        console.log('dias empresa', fecha.empresaDias);
      }
    },
  }"
  >
  <h2 class="text-lg font-bold dark:text-white">Datos Generales de Incapacidad</h2>
  <hr class="divide-y divide-gray-100 mb-4" />
  <div class="flex gap-4 mb-4">
    <div class="flex-1">
      <label
        for="serie"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Serie</label>
      <input
        id="serie"
        name="serie"
        value="{{ serie }}"
        type="text"
        aria-required="true"
        title="Por favor, completa este campo"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      >
    </div>
    <div class="flex-1">
      <label
        for="fecha-recepcion"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de recepcion</label>
      <div class="relative max-w-md">
        <input
          id="fecha-recepcion"
          name="fecha_recepcion"
          value="{{ fecha_recepcion }}"
          type="date"
          aria-required="true"
          title="Por favor, completa este campo"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Selecciona una fecha de recepcion..."
          required
        >
      </div>
    </div>
    <div class="flex-1">
      <label for="movimiento-centro-costos-id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Centro de
        Costos</label>
      <select
        id="movimiento-centro-costos-id"
        name="movimiento_centro_costos_id"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Selecciona un centro de costos...</option>
        {% for ccosto in ccostos %}
        <option value="{{ ccosto.id }}">{{ ccosto.nombre }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="flex gap-4 mb-4">
    <div class="flex-1">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Clase de incapacidad</label>
      <select
        id="incapacidad"
        name="clase_incapacidad_id"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      >
        <option selected>Selecciona la clase de incapacidad...</option>
        {% for incapacidad in incapacidades %}
        <option value="{{ incapacidad.id }}">{{ incapacidad.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="flex-1">
      <label
        for="cod-incapacidad"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero incapacidad</label>
      <div class="relative">
        <input
          id="cod-incapacidad"
          name="cod_incapacidad"
          type="text"
          aria-required="true"
          title="Por favor, completa este campo"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Digita el numero de la incapacidad..."
          required
        />
      </div>
    </div>
    <div class="flex-1">
      <label
        for="estado-incapacidad"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estado de Incapacidad</label>
      <select
        id="estado-incapacidad"
        name="estado_incapacidad_id"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      >
        <option selected>Selecciona un estado de incapacidad...</option>
        {% for estado_incapacidad in estados_incapacidades %}
        <option value="{{ estado_incapacidad.id }}">{{ estado_incapacidad.nombre }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="flex gap-4 mb-4">
    <div class="flex-1">
      <label
        for="concepto-id"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Concepto</label>
      <select
        id="concepto-id"
 e      name="concepto_id"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      >
        <option selected>Selecciona el concepto...</option>
        {% for concepto in conceptos %}
        <option value="{{ concepto.id }}">{{ concepto.codigo }} - {{ concepto.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="flex-1">
      <label
        for="diagnostico"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Codigo diagnostico</label>
      <select
        id="diagnostico"
        name="diagnostico_id"
        value="{{ diagnostico_id }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Selecciona el diagnostico...</option>
        {% for diagnostico in diagnosticos %}
        <option value="{{ diagnostico.id }}">{{ diagnostico.codigo }} - {{ diagnostico.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="flex flex-1 justify-center pt-10">
      <input
        id="genera-pago"
        name="genera_pago"
        value="{{ genera_pago }}"
        type="checkbox"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label
        for="genera-pago" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Genera
        pago?</label>
    </div>
  </div>
    <div class="mb-5">
      <label
        for="observaciones"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observaciones</label>
      <textarea
        id="observaciones"
        name="observaciones"
        value="{{ observaciones }}"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Escribe tus observaciones en este campo..."></textarea>
    </div>
    <h2 class="text-lg font-bold dark:text-white">Fecha de Distribucion</h2>
    <hr class="divide-y divide-gray-100 mb-4" />
    <div class="flex gap-4 mb-4">
      <div class="flex-1">
        <label
          for="fecha-inicio"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Inicial</label>
        <div class="relative max-w-md">
          <input
            id="fecha-inicio"
            name="fecha_inicio"
            value="{{ fecha_inicio }}"
            type="date"
            aria-required="true"
            title="Por favor, completa este campo"
            x-model="fechaInicial"
            @input="updateResultDate"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Selecciona una fecha de inicio..."
            required
          />
        </div>
      </div>
      <div class="flex-1">
        <label
          for="dias"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero de dias</label>
        <input
          id="dias"
          name="dias"
          value="{{ dias }}"
          type="number"
          aria-required="true"
          title="Por favor, completa este campo"
          x-model="numeroDias"
          @input="updateResultDate"
          min="1"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <div class="flex-1">
        <label
          for="fecha-fin"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Final</label>
        <input
          id="fecha-fin"
          name="fecha_fin"
          value="{{ fecha_fin }}"
          type="text"
          x-model="fechaFinal"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          readonly
        />
      </div>
      <div class="flex flex-1 pt-10 justify-center">
        <input
          id="prorroga"
          name="prorroga"
          value="{{ prorroga }}"
          type="checkbox"
          x-model="prorroga"
          @change="calcularPrimerPago"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          for="prorroga"
          class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Es
          prorroga?</label>
      </div>
    </div>
    <div class="mb-5 relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                  <th scope="col" class="px-6 py-3">#</th>
                  <th scope="col" class="px-6 py-3">Fecha Inicial</th>
                  <th scope="col" class="px-6 py-3">Fecha Final</th>
                  <th scope="col" class="px-6 py-3">Salario</th>
                  <th scope="col" class="px-6 py-3">Total Dias</th>
                  <th scope="col" class="px-6 py-3">Dias Empresa</th>
                  <th scope="col" class="px-6 py-3">Valor Empresa</th>
                  <th scope="col" class="px-6 py-3">Dias Entidad</th>
                  <th scope="col" class="px-6 py-3">Valor Entidad</th>
              </tr>
          </thead>
          <tbody>
            <template x-for="(seg, idx) in fechasDistribucion">
            <tr :key="idx" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" x-text="idx+1"></th>
              <td class="px-6 py-4" x-text="seg.fechaInicio"></td>
              <td class="px-6 py-4" x-text="seg.fechaFin"></td>
              <td class="px-6 py-4">
                <input
                  x-model="seg.salario"
                  @input="calcularValoresXPagar(idx)"
                  class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
                />
              </td>
              <td class="px-6 py-4" x-text="seg.totalDias"></td>
              <td class="px-6 py-4" x-text="seg.empresaDias"></td>
              <td class="px-6 py-4">
                $ <span x-text="seg.empresaValor"></span>
              </td>
              <td class="px-6 py-4 text-right" x-text="seg.entidadDias"></td>
              <td class="px-6 py-4 text-right">
                $ <span x-text="seg.entidadValor"></span>
              </td>
            </tr>
            </template>
          </tbody>
      </table>
    </div>
    <div class="font-medium">
      <div class="flex justify-end gap-5">
        <div class="flex gap-4">
          <div>Total Valor Empresa</div>
          <div>
            $ <span x-text="empresaTotalPagado"></span>
          </div>
        </div>
        <div class="flex gap-4">
          <div>Total Cuenta por Cobrar Entidad</div>
          <div>
            $ <span x-text="entidadCuentaXCrobrar"></span>
          </div>
        </div>
      </div>
    </div>
    <hr class="divide-y divide-gray-100 mt-1 mb-4" />
    <div class="text-right">
      <button
        type="submit"
        class="text-white end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Guardar incapacidad</button>
    </div>
</section>
</form>
<script>
function calcularValorIncapacidad() {
  let valorPagadoEmpresa = 0;
  const valorSalario = +this.salario || 0;
  const valorSalarioDiario = valorSalario / 30;
  const valorNumeroDias = +this.numeroDias || 0;
  const fechaInicial = new Date(this.fechaInicial);
  const valoresFechasDistribucion = crearSegmentosQuincenales(fechaInicial, valorNumeroDias);
  const diasPagadoXEmpresa = 2;
}

function crearSegmentosQuincenales(fechaInicial, valorNumeroDias) {
  const diasXSegmento = 15;
  const microSegDia = 86_400_000;
  const segmentos = [];
  let fechaActual = new Date(fechaInicial.getTime() + microSegDia);
  const fechaCorte = new Date(fechaInicial.getFullYear(), fechaInicial.getMonth() + 1, 15);
  const fechaFin = new Date(fechaInicial.getTime() + valorNumeroDias * microSegDia); // 86400000 milisegundos en un día
  let i = 0;

  while (fechaActual <= fechaFin) {
    const fechaInicialSegmento = new Date(fechaActual);
    const fechaFinalSegmento = new Date(fechaActual);
    const diaSegmento = fechaFinalSegmento.getDate();
    const diaFinalMes = new Date(fechaFinalSegmento.getFullYear(), fechaFinalSegmento.getMonth() + 1, 0);
    const diasFaltantesFinMes = diaFinalMes.getDate() - diaSegmento;

    if (diaSegmento <= diasXSegmento) {
      fechaFinalSegmento.setDate(fechaCorte.getDate());
    } else {
      fechaFinalSegmento.setDate(fechaFinalSegmento.getDate() + diasFaltantesFinMes);
    } 

    if (fechaFinalSegmento > fechaFin) {
      fechaFinalSegmento.setDate(fechaFin.getDate());
    }

    const numeroDias = Math.ceil((fechaFinalSegmento - fechaInicialSegmento) / (1000 * 60 * 60 * 24));

    segmentos.push({
      fechaInicio: fechaInicialSegmento.toLocaleDateString('es-CO'),
      fechaFin: fechaFinalSegmento.toLocaleDateString('es-CO'),
      salario: 0,
      totalDias: numeroDias + 1,
      empresaDias: 0,
      empresaValor: 0,
      entidadDias: 0,
      entidadValor: 0,
    });

    fechaActual = fechaFinalSegmento.getTime() + microSegDia;
  }
  return segmentos;
}

function updateResultDate() {
  const valorFechaInicial = new Date(this.fechaInicial);
  const valorNumeroDias = parseInt(this.numeroDias);
  const valorFechaFinal = new Date(valorFechaInicial.getTime() + valorNumeroDias * 86400000); // 86400000 milisegundos en un día
  const day = String(valorFechaFinal.getDate()).padStart(2, '0');
  const month = String(valorFechaFinal.getMonth() + 1).padStart(2, '0');
  const year = valorFechaFinal.getFullYear();
  this.fechaFinal = `${day}/${month}/${year}`;

  const distribucion = crearSegmentosQuincenales(valorFechaInicial, valorNumeroDias);
  this.fechasDistribucion = distribucion;
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
{% endblock %}
