{% extends 'base.html' %}
{% block title %} Incapacidades | Agregar Movimiento {% endblock %}
{% block content %}
<article>
  <div class="px-10">
    <h2 class="text-xl font-bold dark:text-white">Agregar Incapacidad</h2>
  </div>
</article>
<article>
  <hr class="divide-y divide-gray-100 mb-4" />
  <h2 class="text-lg font-bold dark:text-white">Datos empleado</h2>
  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
  <form class="max-w-md mx-auto">
    <div class="mb-2 mt-3">
      <label for="docto-empleado" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero
        documento</label>
      <input type="text" id="docto-empleado" name="docto_empleado"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre
        completo</label>
      <input type="text" id="" name=""
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estado</label>
      <select id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Selecciona el estado de la persona</option>
        <option value="0">Activo</option>
        <option value="1">Retirado</option>
      </select>
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Genero</label>
      <select id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Selecciona el genero de la persona</option>
        <option value="0">Masculino</option>
        <option value="1">Femenino</option>
      </select>
    </div>
    <div class="mb-5">
      <label for="countries_multiple" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Centro de
        Costos</label>
      <select multiple id="countries_multiple"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Selecciona el centro de costos</option>
        {% for ccosto in ccostos %}
        <option value="{{ ccosto.id }}">{{ ccosto.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">NIT ARL</label>
      <input type="text" id="" name="" value="890903790"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        disabled>
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre ARL</label>
      <input
        type="text"
        id=""
        name=""
        value="Compania Suramericana de Riesgos Profesionales"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        disabled>
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">EPS</label>
      <select id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Selecciona la EPS</option>
        {% for eps in epss %}
        <option value="{{ eps.id }}">{{ eps.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fondo de Pension</label>
      <select id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Selecciona el Fondo de Pension</option>
        {% for afp in afps %}
        <option value="{{ afp.id }}">{{ afp.nombre }}</option>
        {% endfor %}
      </select>
    </div>
  </form>
</article>
<article x-data="{
    fechaInicial: '',
    fechaFinal: '',
    numeroDias: 1,
    prorroga: false,
    salario: 0,
    valorCompania: 0,
    cuentaXCobrar: 0,
    pagadoXEntidad: 0,
    pedienteEntidad: 0,
    generaPago: false,
    fechasDistribucion: [],
  }">
  <h2 class="text-lg font-bold dark:text-white">Datos Generales</h2>
  <hr class="divide-y divide-gray-100 my-4" />
  <form class="max-w-2xl mx-auto mb-5">
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Concepto</label>
      <select id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Selecciona el concepto</option>
        {% for concepto in conceptos %}
        <option value="{{ concepto.codigo }}">{{ concepto.codigo }} - {{ concepto.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Inicial</label>
      <div class="relative max-w-md">
        <input
          type="date"
          x-model="fechaInicial"
          @input="updateResultDate"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Selecciona una fecha de inicio..." />
      </div>
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero de dias</label>
      <input
        type="number"
        id=""
        name=""
        x-model="numeroDias"
        @input="updateResultDate"
        min="1"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Final</label>
      <input
        type="text"
        id=""
        name=""
        x-model="fechaFinal"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        readonly>
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Serie</label>
      <input type="text" id="" name=""
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero incapacidad</label>
      <div class="relative">
        <input
          id="cod-incapacidad"
          name="cod_incapacidad"
          type="search"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Digita el numero de la incapacidad..."
          required
        />
      </div>
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de recepcion</label>
      <div class="relative max-w-md">
        <input
          type="date"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Select date">
      </div>
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Codigo diagnostico</label>
      <select id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Selecciona el diagnostico</option>
        {% for diagnostico in diagnosticos %}
        <option value="{{ diagnostico.codigo }}">{{ diagnostico.codigo }} - {{ diagnostico.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Clase de incapacidad</label>
      <select id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Selecciona la clase de incapacidad</option>
        {% for incapacidad in incapacidades %}
        <option value="{{ incapacidad.id }}">{{ incapacidad.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="flex items-center mb-4">
      <input
        id="default-checkbox"
        type="checkbox"
        value=""
        @input="calcularValorIncapacidad"
        x-model="prorroga"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label
        for="default-checkbox"
        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Es
        prorroga?</label>
    </div>
    <div class="mb-5">
      <label
        for="message"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observaciones</label>
      <textarea id="message" rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Escribe tus observaciones en este campo..."></textarea>
    </div>
    <h2 class="text-lg font-bold dark:text-white">Valorizacion</h2>
    <hr class="divide-y divide-gray-100 my-4" />
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Salario</label>
      <input
        type="number"
        id=""
        name=""
        value="0"
        min="0"
        @input="calcularValorIncapacidad"
        x-model="salario"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Calendario</label>
      <input type="text" id="" name=""
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Valor compania</label>
      <input
        type="number"
        id=""
        name=""
        x-model="valorCompania"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cuenta x cobrar entidad</label>
      <input
        type="number"
        id=""
        name=""
        x-model="cuentaXCobrar"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="mb-5">
      <label
        for=""
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pagado por entidad Elimina</label>
      <input
        type="number"
        id=""
        name=""
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pendiente entidad Elimina</label>
      <input type="number" id="" name=""
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Llevada al gasto Calculo por sistema</label>
      <input type="number" id="" name=""
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mayor valor Eliminar</label>
      <input type="number" id="" name="" value="0"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Concepto 472</label>
      <input type="number" id="" name="" value="0"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estado Incapacidad</label>
      <select id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Selecciona el estado de la incapacidad</option>
        {% for estado_incapacidad in estados_incapacidades %}
        <option value="{{ estado_incapacidad.id }}">{{ estado_incapacidad.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de pago</label>
      <div class="relative max-w-md">
        <input
          type="date"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Select date">
      </div>
    </div>
    <div class="flex items-center mb-4">
      <input id="default-checkbox" type="checkbox" value=""
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Genera
        pago?</label>
    </div>
    <h2 class="text-lg font-bold dark:text-white">Fecha de Distribucion</h2>
    <hr class="divide-y divide-gray-100 my-4" />
    <h2 class="text-lg font-bold dark:text-white">Distribuciones</h2>
    <hr class="divide-y divide-gray-100 my-4" />
    <div class="mb-5">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                  <th scope="col" class="px-6 py-3">#</th>
                  <th scope="col" class="px-6 py-3">Fecha Inicial</th>
                  <th scope="col" class="px-6 py-3">Fecha Final</th>
                  <th scope="col" class="px-6 py-3">Dias Empresa</th>
                  <th scope="col" class="px-6 py-3">Valor Empresa</th>
                  <th scope="col" class="px-6 py-3">Dias Entidad</th>
                  <th scope="col" class="px-6 py-3">Valor Entidad</th>
              </tr>
          </thead>
          <tbody>
            <template x-for="(seg, idx) in fechasDistribucion">
            <tr :key="idx" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" x-text="idx+1"></th>
                <td class="px-6 py-4" x-text="seg.fechaInicial"></td>
                <td class="px-6 py-4" x-text="seg.fechaFinal"></td>
                <td class="px-6 py-4">1</td>
                <td class="px-6 py-4">2</td>
                <td class="px-6 py-4 text-right">3</td>
                <td class="px-6 py-4 text-right">4</td>
            </tr>
            </template>
          </tbody>
      </table>
    </div>
    <button type="submit" <button type="submit"
      class="text-white end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Guardar incapacidad</button>
  </form>
</article>
<script>
function updateResultDate() {
  const initialDateValue = new Date(this.fechaInicial);
  const numberOfDaysValue = parseInt(this.numeroDias);
  const resultDateValue = new Date(initialDateValue.getTime() + numberOfDaysValue * 86400000); // 86400000 milisegundos en un día
  const day = String(resultDateValue.getDate()).padStart(2, '0');
  const month = String(resultDateValue.getMonth() + 1).padStart(2, '0');
  const year = resultDateValue.getFullYear();
  this.fechaFinal = `${day}/${month}/${year}`;
}

function crearSegmentosQuincenales(fechaInicial, numeroDias, diasEmpresa) {
  const segmentos = [];
  const valorNumeroDias = parseInt(numeroDias);
  let fechaActual = new Date(fechaInicial);
  const fechaFin = new Date(fechaInicial.getTime() + valorNumeroDias * 86400000); // 86_400_000 milisegundos en un día
  let i = 0;

  while (fechaActual <= fechaFin) {
    const fechaInicialSegmento = new Date(fechaActual);
    const fechaFinalSegmento = new Date(fechaActual);

    fechaFinalSegmento.setDate(fechaFinalSegmento.getDate() + 14);

    if (fechaFinalSegmento > fechaFin) {
      fechaFinalSegmento.setDate(fechaFin.getDate() + 1);
    }

    const numeroDias = Math.ceil((fechaFinalSegmento - fechaInicialSegmento) / (1000 * 60 * 60 * 24));

    segmentos.push({
      fechaInicial: fechaInicialSegmento.toLocaleDateString('es-CO'),
      fechaFinal: fechaFinalSegmento.toLocaleDateString('es-CO'),
      numeroDias: numeroDias,
      diasEmpresa: i === 0 ? diasEmpresa : 0,
      valorEmpresa: i === 0 ? diasEmpresa * salario : 0,
      diasEntidad: 0,
      valorEntidad: 0,
    });

    fechaActual = fechaFinalSegmento;
  }

  return segmentos;
}

function calcularValorIncapacidad() {
  const valorSalario = +this.salario || 0;
  const valorSalarioDiario = valorSalario / 30;
  const valorNumeroDias = +this.numeroDias || 0;
  const fechaInicial = new Date(this.fechaInicial);
  let valoresFechasDistribucion = [];
  const diasPagadoXEmpresa = 2;

  if (valorSalario && valorNumeroDias) {
    this.valorCompania = (diasPagadoXEmpresa * valorSalarioDiario).toFixed(2);
    this.cuentaXCobrar = (valorNumeroDias - diasPagadoXEmpresa) * valorSalarioDiario;
    this.cuentaXCobrar = this.cuentaXCobrar.toFixed(2);

    valoresFechasDistribucion = crearSegmentosQuincenales(fechaInicial, valorNumeroDias, diasPagadoXEmpresa);

    this.fechasDistribucion = valoresFechasDistribucion;
  }
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
{% endblock %}
